---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
import Main from '../layouts/Main.astro';

import Pie from '../assets/svgs/toki_flow_circle.svg'



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />

	<Main>
        <div id="flex-container">
            <div id="pie-div">
                <Pie id="pie" /> 
            </div>
            <div id="rotate-buttons">
                <div class="rotate-button">
                </div>

                <div class="rotate-button">
                </div>
                
              
            </div>
            <div id="toki-flow-container">
                <div id="toki-flow-inner-container">
                    <h1>TÓKI Flow</h1>
                    <div id="flow-header"> <h2>   Design DNA <span>og</span> Retningsprincipper </h2> </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices.</p>
                </div>
            </div>
        </div>
        
	</Main>

	<Footer />

</Layout>

<style> 
    #flex-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
        height: 100%;
    }

    #pie-div {
        width: 100%;
        height: 100%;
        grid-column: span 3;
        margin: auto;
        padding: 10px 0;

    }

    #pie  {
        top: 0;
        position: relative;
        left: -20%;
    }

    #rotate-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .rotate-button {
        position: relative;
        left: -20%;
        width: 40%;
        aspect-ratio: 1/1;
        background-color: red;
    }

    #toki-flow-container {
        grid-column: span 4;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

     #toki-flow-inner-container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #flow-header {
        width: 100%;
        background-color: var(--secondary-color);
        text-align: center;
        border-radius: 15px;
    }
</style>