---
const {caseId, caseName, caseText} = Astro.props;
---

<div>
<h1>
    {caseName}
</h1>
<p>
    {caseText}
</p>
<a href=`/case/${caseId}`>link til case {caseId}</a>
</div>


<style>
    div {
        border: 1px solid red;
        padding: 20px;
    }
</style>
