---
import Logo from '../assets/imgs/logo_png.png'
import { Image } from 'astro:assets';
---

<header>
    <div>
        <img src={Logo.src}>
    </div>
    <ul>
        <li>tab</li>
        <li>tab</li>
        <li>tab</li>
    </ul>
</header>