---
import '../GlobalStyle.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background-color: var(--primary-color);
		h1, h2, h3, h4, h5, h6 {
			font-family: var(--header-font);
			color: var(--text-color)
		}
		p, a {
			font-family: var(--text-font);
			color: var(--text-color)

		}
	}

</style>
