---
import '../GlobalStyle.css'


---

<main>
    <h1>
        Some header text
        <a href=>cases</a>
    </h1>
</main>

<style> 
    h1 {
        color: var(--text-color);
        font-family: var(--header-font);
    }
</style>

<script src='../js/fetchScript.js'>
