---
import '../GlobalStyle.css'


---

<main>
   <slot />
</main>

<style> 
    main {
        min-height: 600px;
        background-color: var(--primary-color);
    }

    h1 {
        color: var(--text-color);
        font-family: var(--header-font);
    }
</style>

