---
import '../GlobalStyle.css'
---

<main>
    <h1>
        Some header text
    </h1>
</main>

<style> 
    h1 {
        color: var(--text-color);
        font-family: var(--header-font);
    }
</style>